<div class="container">

      <div class="starter-template">
        <h1>Welcome to the Fave Artists App</h1>
        <p class="lead">Sign up to create your favorite artists list.<br>
        	Get started by browsing the list and upvote your fave movie actor.</p>
        	<div class="btn-group">
        		<a href="#/login/"
                 class="btn btn-primary btn-lg">
                	Register today
              	</a>
        		<a href="#/login/"
                 class="btn btn-warning btn-lg">
                	Plans &amp; Pricing
              	</a>
        	</div>
        	
      </div>
      

</div><!-- /.container -->